#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# Security Hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=-pie,+all

override_dh_install:
	rm -f obj-*/docs/old/html/.buildinfo
	sed -i s%https://cdn.mathjax.org/mathjax/latest/MathJax.js%file:///usr/share/javascript/mathjax/MathJax.js% \
		obj-*/docs/old/html/*.html
	dh_install

%:
	dh $@
